.root {
    main-color: rgb(237, 255, 242);       /* Create a looked-up color called "main-color" within root. */
       -fx-background-color: main-color;
       -fx-background-image: url('../images/background.png');  /* Add the background image */
       -fx-background-size: cover;            /* Ensures the image covers the entire container */
       -fx-background-repeat: no-repeat;      /* Prevents the image from repeating */
   }

.text-field {
    -fx-background-color: #D8BFD8;
    -fx-font: 20px "Arial";
}

.button {
    -fx-background-color:#D8BFD8;
    -fx-font: italic bold 16px "Arial";
}

.button:hover {
    -fx-background-color:#CBA4CD;
    -fx-font-size: 18px;
}

.button:pressed {
    -fx-background-color:orange;
    -fx-font-size: 20px;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    -fx-background-color: #ff9cb4;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}